In [7]:
import pandas as pd 
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

### Importing and Cleaning USA Used Cars Data

In [8]:
use_car_test = pd.read_csv("data/USA_cars_datasets.csv")
use_car_test.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [9]:
clean_used_cars = use_car_test.loc[use_car_test['title_status'] == "clean vehicle"]
clean_used_cars = clean_used_cars.drop(columns = ['Unnamed: 0','color','vin','lot','state','country','condition'])
clean_used_cars = clean_used_cars.rename(columns={"price":"current_price"})



clean_used_cars

      current_price      brand    model  year   title_status   mileage
0              6300     toyota  cruiser  2008  clean vehicle  274117.0
1              2899       ford       se  2011  clean vehicle  190552.0
2              5350      dodge      mpv  2018  clean vehicle   39590.0
3             25000       ford     door  2014  clean vehicle   64146.0
4             27700  chevrolet     1500  2018  clean vehicle    6654.0
...             ...        ...      ...   ...            ...       ...
2494           7800     nissan    versa  2019  clean vehicle   23609.0
2495           9200     nissan    versa  2018  clean vehicle   34553.0
2496           9200     nissan    versa  2018  clean vehicle   31594.0
2497           9200     nissan    versa  2018  clean vehicle   32557.0
2498           9200     nissan    versa  2018  clean vehicle   31371.0

[2336 rows x 6 columns]

In [31]:
clean_used_cars.reset_index(inplace = True)
clean_used_cars.rename(columns={"brand":"make"},inplace = True)

In [33]:
clean_used_cars

      index  current_price       make    model  year   title_status   mileage
0         0           6300     toyota  cruiser  2008  clean vehicle  274117.0
1         1           2899       ford       se  2011  clean vehicle  190552.0
2         2           5350      dodge      mpv  2018  clean vehicle   39590.0
3         3          25000       ford     door  2014  clean vehicle   64146.0
4         4          27700  chevrolet     1500  2018  clean vehicle    6654.0
...     ...            ...        ...      ...   ...            ...       ...
2331   2494           7800     nissan    versa  2019  clean vehicle   23609.0
2332   2495           9200     nissan    versa  2018  clean vehicle   34553.0
2333   2496           9200     nissan    versa  2018  clean vehicle   31594.0
2334   2497           9200     nissan    versa  2018  clean vehicle   32557.0
2335   2498           9200     nissan    versa  2018  clean vehicle   31371.0

[2336 rows x 7 columns]

### Importing and Cleaning New Car Data

In [10]:
new_car_test = pd.read_csv("data/data.csv")
new_car_test.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [11]:
new_cars = new_car_test.rename(columns = {"Make":"make","Model":"model","Year":"year","Engine Fuel Type":"engine_fuel_type","Engine HP":"engine_hp","Engine Cylinders":"engine_cylinders","Transmission Type":"transmission_type","Driven_Wheels":"driven_wheels","Number of Doors":"number_of_doors","Market Category":"market_category","Vehicle Size":"vehicle_size","Vehicle Style":"vehicle_style","highway MPG":"highway_mpg","city mpg":"city_mpg","Popularity":"popularity","MSRP":"msrp"})

new_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_fuel_type   11911 non-null  object
 4   engine_hp          11845 non-null  float64
 5   engine_cylinders   11884 non-null  float64
 6   transmission_type  11914 non-null  object
 7   driven_wheels      11914 non-null  object
 8   number_of_doors    11908 non-null  float64
 9   market_category    8172 non-null   object
 10  vehicle_size       11914 non-null  object
 11  vehicle_style      11914 non-null  object
 12  highway_mpg        11914 non-null  int64
 13  city_mpg           11914 non-null  int64
 14  popularity         11914 non-null  int64
 15  msrp               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [17]:
new_cars.reset_index(inplace =True)

new_cars

new_cars.rename(columns = {"index":"index_col"},inplace = True)

In [20]:
new_cars.drop(columns= ['level_0'],inplace = True)

In [21]:
new_cars

,index_col,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

### Connect to local database

In [34]:
rds_connection_string = "postgres:postgres@localhost:5432/car_data"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for Tables

In [35]:
engine.table_names()

['cars_db', 'used_cars_db']

### Use Pandas to load dataframe into database

In [ ]:
new_cars.to_sql(name='cars_db',con = engine, if_exists='append',index=False)

In [37]:
clean_used_cars.to_sql(name='used_cars_db',con = engine, if_exists = 'append',index=False)

In [25]:
pd.read_sql_query('select * from cars_db',con=engine).head()

,index_col,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,0,BMW,1 Series M,2011.0,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26.0,19.0,3916.0,46135.0
1,1,BMW,1 Series,2011.0,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28.0,19.0,3916.0,40650.0
2,2,BMW,1 Series,2011.0,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28.0,20.0,3916.0,36350.0
3,3,BMW,1 Series,2011.0,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28.0,18.0,3916.0,29450.0
4,4,BMW,1 Series,2011.0,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28.0,18.0,3916.0,34500.0

In [38]:
pd.read_sql_query('select * from used_cars_db',con = engine).head()

   index  current_price       make    model    year   title_status   mileage
0      0         6300.0     toyota  cruiser  2008.0  clean vehicle  274117.0
1      1         2899.0       ford       se  2011.0  clean vehicle  190552.0
2      2         5350.0      dodge      mpv  2018.0  clean vehicle   39590.0
3      3        25000.0       ford     door  2014.0  clean vehicle   64146.0
4      4        27700.0  chevrolet     1500  2018.0  clean vehicle    6654.0